<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>신고 게시글 상세 정보 페이지</title>
  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">  <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 서머노트 -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
  <script src="/summernote/summernote-ko-KR.js"></script>
</head>
<body>
  <div class="container">
    <h1>신고 게시글 상세 정보 페이지</h1>
    <hr>
    <a class="btn btn-primary" href="/admin/member-list" role="button">회원 목록</a>
    <a class="btn btn-primary" href="/admin/reported-post-list" role="button">신고 게시글 목록</a>
    <a class="btn btn-primary" href="/admin/reported-comment-list" role="button">신고 댓글 목록</a>
  </div>
  <br>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">게시글 작성자 이메일</th>
        <th scope="col">게시글 작성자 닉네임</th>
        <th scope="col">게시글 제목</th>
        <th scope="col">게시글 작성일</th>
        <th scope="col">신고 사유</th>
        <th scope="col">게시글 상태</th>
        <th scope="col">게시글 상태 변경</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" th:text="${post.writerEmail}"></th>
        <td th:text="${post.writerNickName}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.postDtt}"></td>
        <td th:text="${post.reportReason}"></td>
        <td th:text="${post.postStatus}"></td>
        <td>
          <form th:action="'/admin/reported-post-detail?id=' + ${post.id}" method="post">
            <select name="postStatus">
              <option selected>== 선택 ==</option>
              <option value="POST">정상 게시 상태</option>
              <option value="REPORT">신고 상태</option>
              <option value="DELETE">삭제 상태</option>
            </select>
            <button class="btn btn-primary" type="submit">상태 수정</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-secondary" href="/admin/reported-post-list" role="button">신고 게시글 목록으로</a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>